body {
    background-image: url('sindhudurg-fort.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

table {
    margin: auto;
    background: transparent;
}

td {

    border-radius: 20px;
    padding: 2%;
    background: transparent;
    text-align: center;
    border-collapse: collapse;
    color: yellow;
}

h2:hover {
    color: rgb(237, 9, 100);
    font: bold;
    background-color: rgb(31, 16, 239);



}

h1 {
    color: black;
    font-size: 80px;
    text-align: center;
    font-style: italic;
    font-weight: 1000;
}
/*video css*/
video,iframe {
    margin: 25%;
   margin-top: 0%;
}

