
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;

}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background: rgb(199, 49, 158);
    background: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    height: 130%;
    
    
    
    

}

/* Set black background color, white text and some padding */
footer {
    background: rgb(6, 0, 36);
    background: linear-gradient(90deg, rgba(6, 0, 36, 1) 0%, rgb(6, 0, 36) 0%, rgb(6, 0, 36) 100%);
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        

    }

    .row.content {
        height: auto;
    }
}




.image--cover {
    width: 200px;
    height: 200px;
    border-radius: 30%;

    object-fit: fill;
    object-position: center;

}

.thumbnail {
    background-color: transparent;
    background: transparent;
    border: none;

}

.navbar,
.active {
    background: rgb(6, 0, 36);
}

input[type="file"] {
    height: 30px;
    width: 100%;

}

input[type="file"]::-webkit-file-upload-button {
    height: 30px;
    width: 100%;
    background: whitesmoke;

}


body {
    font-family: "serif";
    background-color:linen;
}




/* Button CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 150px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
   
    border: 2px solid #ff5353;
  }



