


ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #0c111b;
  }
  
  li {
    float: left;
    border-right:2px ;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: RGB(25, 33, 51);
  }
  
  .active {
    background-color: #0c111b;
  }

  .kids {
    color: RGB(255, 170, 5);
  }

 input{
   background-color: #0c111b;
  
  
 }