﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Menu Options</h4>
                <ul class="nav nav-pills nav-stacked">

                    <li>@Html.ActionLink("Home", "Index2", "Default")</li>
                    <li>@Html.ActionLink("With Layout", "Index2", "Default")</li>
                    <li>@Html.ActionLink("Without Layout", "Index", "Default")</li>
                    <li>@Html.ActionLink("Sign Up", "SignUpForm", "Default")</li>


                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-sm-9">
                <h4><small>Main Content</small></h4>
                <hr>
                @RenderBody()

            </div>
        </div>
    </div>

    <footer class="container-fluid">
        
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
