﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div> 
        Hello 
        Id = @ViewBag.id
    </div>
</body>
</html>
