﻿
@{
    ViewBag.Title = "SignUpForm";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>SignUp Form</h2>
<span>Enter Name : </span>
<input type="text" id="name"/><br />
<span>Enter Email : </span>
<input type="text" id="email"/>


