﻿@model IEnumerable<HtmlHelpersExample.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.DeptNo }) |
            @Html.ActionLink("Details", "Details", new {  id=item.DeptNo }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.DeptNo })
        </td>
    </tr>
}

</table>
