.button {
    width: 10vw;
    height: 10vh;
    background-color: rgb(200, 196, 255);
    color: rgb(0, 1, 4);
    width: bold;
    font-size: 400%;
    margin: 1%;
}

.button:hover {
    background-color: rgb(225, 92, 119);
    color: azure;
}

body {

    background-image: url('cal_background.jpg');


}



input {
    height: 10vh;
    margin: 1%;
    width: 43vw;
    font-size: 400%;

}

.box {
    margin-top: 0%;
    margin-left: 20%;
    width: 115vh;
    height: 38vw;
    padding: 3%;
    border: 1vw solid red;
    background-color: rgb(245, 248, 170);
    box-sizing: border-box;
    color: aqua;
    border-width: 0.5vw;
   

}