﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h2>  ID : @ViewBag.id </h2>
    <h2>  A : @ViewBag.a </h2>
    <h2>  B : @ViewBag.b </h2>
    <h2>  C : @ViewBag.c </h2>
    @{
        string s = "abc";
        int i = 100;
        i = ViewBag.a;


    }

    @{ if (i % 2 == 0)
        {
            s = "even";

        }
        else
        {
            s = "odd";
        }
    }


    <h2>i=@i</h2>
    <h2>s=@s</h2>

    @{
        if (i % 2 == 0)
        {
            @: <h2>result = even</h2>
        }
        else
        {
            @:<h2>result = odd</h2>
        }
    }
<h2>
    <table border="1">
        @for (int j = 1; j < 5; j++)
        {
            <tr>
                <td>5</td>
                <td>*</td>
                <td>@j</td>
                <td>=</td>
                <td>@(j*5)</td>
            </tr>
        }
    </table>
</h2>
</div>
