﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewBag.key3</h2>

<h2>
    key 1: @ViewData["key1"].ToString()

</h2>

<h2>
    @{ 
        int i = (int)ViewData["key2"];
        bool b = ViewBag.key3;
    }
    key 2 : @i <br />
    key 3 : @b <br /> 
</h2>

<h2>

    TempData key4 : @TempData["key4"].ToString(); 
</h2>

<h2>
    @{ 
        HttpCookie objCookie = Request.Cookies["Chocochip"];
        string s;
        s = (string)objCookie.Values["key2"];

    }
    cookies is @s
</h2>
<h2>
    application variable : @{string str = (string)System.Web.HttpContext.Current.Application["ApplicationVar"];}
        @str
</h2>

