﻿
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>



<h2>

    @* TempData key4 : @TempData["key4"].ToString();*@

    key 5 : @Session["name"].ToString();
    key 6 : @Session["id"].ToString();
</h2>