﻿
@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>
<h2>
    @{
        HttpCookie objCookie = Request.Cookies["Chocochip"];
        string s;
        s = (string)objCookie.Value;

    }
    cookies is @s
</h2>
