﻿@model IEnumerable<HtmlHelpersExample.Models.Employee>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Basic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptNo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Basic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptNo)
        </td>
       
       
    </tr>
}

</table>
