﻿@model HtmlHelpersExample.Models.Employee

@{
    ViewBag.Title = "DeptNumber";
}

<h2>Filter Using Departments</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.DeptNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DeptNo, new SelectList(ViewBag.list,"DeptNo","DeptNo"), "Select Department Number",  htmlAttributes : new { @class = "form-control" } )
                @*@Html.EditorFor(model => model.DeptNo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.DeptNo, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
