﻿@model HtmlHelpersExample.Models.Employee


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptNo)
        </dd>

    </dl>


    DropDownListFor @Html.DropDownListFor(model => model.DeptNo, (IEnumerable<SelectListItem>)ViewBag.Departments)

    <br />




</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
